{% extends 'base.html.twig' %}

{% block title %}Succès{% endblock %}

{% block body %}
    <h3>Rencontrez votre nouveau Pokémon !</h3>

    <div class="card" style="width: 80%;margin: auto">
		<div class="card-body">
			<h5 class="card-title">Information</h5>
			<p><span class="app-bold">Nom : </span>{{ pokemon.nom }}</p>
			<p><span class="app-bold">Sexe : </span>{{ pokemon.sexe }}</p>
			<p><span class="app-bold">Niveau : </span>{{ pokemon.niveau }}</p>
			<p><span class="app-bold">Exp : </span>{{ pokemon.xp }}</p>
			<p><span class="app-bold">PokePièces restantes : </span>{{ pieces }}</p>
			<p><a href="{{ path('shop_index') }}">Retour</a></p>
		</div>
	</div>

{% endblock %}