{% extends 'base.html.twig' %}

{% block title %}Prêt à capturer ?{% endblock %}

{% block body %}
    <h3>Prêt à capturer ce Pokémon ?</h3>
	
	<div class="card" style="width: 80%;margin: auto">
		<div class="card-body">
			<p><span class="app-bold">Pokémon : </span>{{ nom_pokemon }}</p>
			<p><span class="app-bold">Sexe : </span>{{ sexe }}</p>
			<p><span class="app-bold">Niveau : </span>{{ niveau }}</p>
			
			<a href= "{{ path('capture_ok', {'id': id, 'zone_id': 'zone_id', 'pokemon': randomPoke}) }}" class="btn" style="font-weight: bold; color: red">Capturer</button>
			
			</br>
			<a href="{{ path('capture_poke_dispo_index') }}">Annuler</a>
			
		</div>
	</div>	
	
	
	
{% endblock %}